:root {
    /* WOLF Hub Home */
    --wolf-black: #292823;
    --wolf-gray: #D7D7D7;

    /* AMERICANOS */
    --wolf-usa-primary: #B22222;
    --wolf-usa-secondary: #121212;
    --wolf-usa-tertiary: #C0C0C0;
    --wolf-usa-quaternary: #F5F5F5;

    /* JAPONESES */
    --wolf-jdm-primary: #2D3436;
    --wolf-jdm-secondary: #DFE6E9;
    --wolf-jdm-tertiary: #FFFFFF;
    --wolf-jdm-quaternary: #D3B037;

    /* EUROPEOS */
    --wolf-eu-primary: #1E272E;
    --wolf-eu-secondary: #0984E3;
    --wolf-eu-tertiary: #F5F6FA;
    --wolf-eu-quaternary: #00CEC9;

    /* --- Tipografias --- */

    /* --- Home --- */
    --Font-Home-Title: 'Montserrat', sans-serif;
    --Weight-Home-Title: 700;
    --Font-Home-Subtitle: 'Montserrat', sans-serif;
    --Weight-Home-Subtitle: 500;

    /* --- USA --- */
    --Font-USA-Title: 'Bebas Neue', sans-serif;
    --Weight-USA-Title: 800;
    --Font-USA-Subtitle: 'Bebas Neue', sans-serif;
    --Weight-USA-Subtitle: 600;

    /* --- JDM (Japoneses) --- */
    --Font-JDM-Title: 'Exo 2', sans-serif;
    --Weight-JDM-Title: 800;
    --Font-JDM-Subtitle: 'Exo 2', sans-serif;
    --Weight-JDM-Subtitle: 600;

    /* --- Euro (Europeos) --- */
    --Font-Euro-Title: 'Syncopate', sans-serif;
    --Weight-Euro-Title: 800;
    --Font-Euro-Subtitle: 'Syncopate', sans-serif;
    --Weight-Euro-Subtitle: 600;
}

/*  --- Animaciones --- */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- Fin animaciones --- */

/* New Hub Home */

body {
    background-color: var(--wolf-black);
}

.Modal-Bienvenida {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(20px);
    animation: scaleUp 1.5s ease-out forwards;
}

.Modal-Bienvenida-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wolf-gray);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--wolf-gray);
}

.Modal-Bienvenida-Container h2 {
    font-family: var(--Font-Home-Title);
    font-weight: var(--Weight-Home-Title);
}

.Modal-Bienvenida-Container p {
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
}

.Modal-Bienvenida-Container button {
    background-color: var(--wolf-black);
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    width: 7rem;
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
}

.Modal-Bienvenida-Container button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--wolf-black);
    transition: transform 2s ease;
    transition: box-shadow 0.7s ease;
}

.Modal-Login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(20px);
    animation: scaleUp 1.5s ease-out forwards;
}

.Modal-Login-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wolf-gray);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--wolf-gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
}

.Modal-Login-Container h2 {
    font-family: var(--Font-Home-Title);
    font-weight: var(--Weight-Home-Title);
}

.Modal-Login-Container p {
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
}

.btn-iniciar-sesion {
    background-color: var(--wolf-black);
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    width: 20rem;
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
}

.btn-iniciar-sesion:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--wolf-black);
    transition: transform 2s ease;
    transition: box-shadow 0.7s ease;
}

.Modal-Login-Container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Modal-Login-Container input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    border: 1px solid var(--wolf-gray);
}

input:focus {
    outline: none;
    border: 2px solid var(--wolf-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.btn-registrarse {
    color: var(--wolf-black);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
    text-decoration: none;
}

.btn-cerrar-login {
    display: flex;
    background-color: var(--wolf-black);
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
    position: absolute;
    bottom: 25vh;
    left: 87%;
}

.btn-cerrar-login:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--wolf-black);
    transition: transform 2s ease;
    transition: box-shadow 0.7s ease;
}

.container-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: clamp(700px, 100%, 1920px);
}

.Header-Hub {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 960px;
    background-color: var(--wolf-gray);
    border-radius: 10px;
    gap: 1rem;
}

.Div-Text-Header {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--wolf-black);
    display: flex;
    align-items: center;
    margin-top: 5rem;
    font-family: var(--Font-Home-Title);
    font-weight: var(--Weight-Home-Title);
    text-transform: uppercase;
}

.Nav-Button-Login {
    display: flex;
    gap: 0.5rem;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--wolf-gray);
    position: absolute;
    bottom: 3vh;
    width: 4rem;
    justify-content: center;
}

.IMG-Main {
    width: 1750px;
    height: 957px;
    border-radius: 10px;
}

.Bienvenida-Container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    top: 7rem;
    left: 27rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px var(--wolf-gray);
}

.Bienvenida-Text {
    color: var(--wolf-gray);
    font-family: var(--Font-Home-Subtitle);
    font-weight: var(--Weight-Home-Subtitle);
}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container-buttons button {
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 7rem;
    background-color: transparent;
}

.container-buttons button:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

/* --- Fin New Hub Home --- */

/* --- JDM --- */

.Header-JDM {
    transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out;
    z-index: 2;
}

.Header-JDM.subir {
    transform: translateY(-100vh);
    opacity: 0;
    pointer-events: none;
}


.Container-Header-JDM {
    position: absolute;
    z-index: 2;
}

.Button-Nav1-JDM {
    position: absolute;
    left: 38rem;
    top: 1.5rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
}

.Button-Nav1-JDM:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.Button-Nav2-JDM {
    position: absolute;
    left: 72rem;
    top: 1.5rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
}


.Button-Nav2-JDM:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.Button-Start-JDM {
    position: absolute;
    left: 57rem;
    top: 25.5rem;
    border-radius: 100px;
    width: 7rem;
    height: 7rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}

.Button-Start-JDM:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    box-shadow: 0 0 15px var(--wolf-gray);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.7s ease;
}

.IMG-Container-JDM {
    width: 1885px;
    height: 957px;
    border-radius: 10px;
    animation: fadeInSlide 1.5s ease-out forwards;
}

.Container-Text-JDM {
    position: absolute;
    z-index: 1000;
    top: 9rem;
    left: 33rem;
}

.Container-Text-JDM h1 {
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.7)
}

.Main-JDM {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out 0.3s, transform 0.8s ease-in-out 0.3s;
}

.Main-JDM.visible {
    opacity: 1;
    transform: translateY(0);
    margin-right: 0.5rem;
    background-color: var(--wolf-jdm-secondary);
}

.Container-Nav-JDM {
    background-color: var(--wolf-jdm-primary);
    color: var(--wolf-jdm-quaternary);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px 15px 0 0;
    border-top: 3px solid var(--wolf-jdm-quaternary);
    border-left: 2px solid var(--wolf-jdm-quaternary);
    border-right: 2px solid var(--wolf-jdm-quaternary);
    border-bottom: 2px solid var(--wolf-jdm-quaternary);
}

.Button-Nav-JDM {
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.Button-Nav-JDM:hover {
    background-color: var(--wolf-jdm-quaternary);
    color: var(--wolf-jdm-primary);
    border: none;
    box-shadow: 0 0 15px var(--wolf-jdm-quaternary);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.3s ease;
}

.Container-Main-JDM {
    background-image: linear-gradient(180deg, var(--wolf-jdm-primary)10%, var(--wolf-jdm-secondary)90%);
    display: flex;
    gap: 3rem;
    padding: 5rem;
}

.Container-Title-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-Title-JDM h1 {
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
    color: var(--wolf-jdm-quaternary);
}

.Container-Parrafo-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
    color: black;
    font-size: 1.2rem;
}


.Container-IMG-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-IMG-JDM img {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

.Container-Cards-JDM {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 3rem;
}

.Container-Tarjetas-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.Container-Tarjetas-JDM:hover {
    transform: scale(1.03);
    border-radius: 20px;
}

.Container-Tarjetas-JDM:hover .img-tarjeta {
    filter: brightness(0.5);
}

.Container-Tarjetas-JDM-Hover {
    position: absolute;
    top: 0;
    left: 0;
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--wolf-jdm-quaternary);
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
    pointer-events: none;
}

.Container-Tarjetas-JDM:hover .Container-Tarjetas-JDM-Hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.Container-Tarjetas-JDM:hover .Container-Tarjetas-JDM-Hover button {
    background-color: var(--wolf-jdm-quaternary);
    color: var(--wolf-jdm-primary);
    border: none;
    box-shadow: 0 0 15px var(--wolf-jdm-quaternary);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.3s ease;
}

.img-tarjeta-JDM {
    width: 480px;
    height: 320px;
    border-radius: 20px;
    object-fit: cover;
    transition: filter 0.5s ease;
}

.Container-Text-Tarjetas-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Container-Footer-JDM {
    background-image: linear-gradient(180deg, var(--wolf-jdm-secondary)0.5%, var(--wolf-jdm-primary)9.5%, var(--wolf-jdm-primary)90%);
    color: var(--wolf-jdm-quaternary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    padding-top: 2rem;
}

.Container-Footer-JDM-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Container-Footer-JDM-1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.Container-Footer-JDM-1-1 h2 {
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
}

.Container-Footer-JDM-1-1 p {
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.Container-Footer-JDM-1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.Container-Footer-JDM-1-2 ul {
    display: flex;
    list-style: none;
    gap: 0.4rem;
    flex-direction: column;
}

.Container-Footer-JDM-1-2 ul li:hover {
    color: var(--wolf-jdm-tertiary);
    transition: color 0.7s ease;
    cursor: pointer;
}

.Container-Footer-JDM-1-2 ul li a {
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.Container-Footer-JDM-1-3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20rem;
    gap: 0.2rem;
}

.Container-Footer-JDM-1-3 a {
    color: var(--wolf-jdm-quaternary);
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.Container-Footer-JDM-1-3 a:hover {
    color: var(--wolf-jdm-tertiary);
    transition: color 0.7s ease;
    cursor: pointer;
}

.Container-Footer-JDM-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container-Footer-JDM-2 p {
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.ContainerCar-JDM {
    display: none;
    z-index: 1000;
    position: fixed;
    background-color: var(--wolf-jdm-primary);
    color: var(--wolf-jdm-tertiary);
    width: 90%;
    height: 90%;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    left: 3.8rem;
    top: 1rem;
    backdrop-filter: blur(10px);
    animation: scaleUp 1s ease-out;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid var(--wolf-jdm-quaternary);
    justify-items: center;
}

.card-auto-JDM {
    width: 20rem;
    height: 17.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-auto-JDM h3 {
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
}

.card-auto-JDM p {
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.img-card-auto-JDM {
    width: 240px;
    height: 135px;
    border-radius: 20px;
}

.info-car-JDM {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: var(--wolf-jdm-secondary);
}

.info-car-JDM h3 {
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
}

.info-car-JDM p {
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.btn-ver-detalles-JDM {
    color: var(--wolf-jdm-secondary);
    border: 1px solid var(--wolf-jdm-secondary);
    border-radius: 10px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.btn-ver-detalles-JDM:hover {
    background-color: var(--wolf-jdm-quaternary);
    color: var(--wolf-jdm-primary);
    border: none;
    box-shadow: 0 0 15px var(--wolf-jdm-quaternary);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.3s ease;
}

.btn-cerrar-catalogo-JDM {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    color: var(--wolf-jdm-tertiary);
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.btn-cerrar-catalogo-JDM:hover {
    color: var(--wolf-jdm-quaternary);
    transform: scale(1.1);
}

.modal-overlay-JDM {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation: fadeIn 0.3s ease-out;
}

.modal-content-JDM {
    background-color: var(--wolf-jdm-primary);
    border-radius: 20px;
    padding: 30px;
    max-width: 900px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: scaleUp 0.3s ease-out;
    color: var(--wolf-jdm-quaternary);
}

.close-btn-JDM {
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    color: #ffffff;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.close-btn-JDM:hover {
    color: var(--wolf-jdm-quaternary);
    transform: scale(1.1);
}

.modal-grid-JDM {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.modal-image-container-JDM {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.modal-image-container-JDM img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.info-car-JDM {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wolf-title-JDM {
    color: var(--wolf-jdm-secondary);
    margin: 0;
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
}

.wolf-price-JDM {
    color: var(--wolf-jdm-quaternary);
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
    margin-top: 10px;
}

.modal-specs-JDM {
    display: flex;
    justify-content: center;
}

.specs-list-JDM {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--wolf-jdm-tertiary);
    column-gap: 10rem;
    row-gap: 1.5rem;
}

.specs-list-JDM li {
    margin: 5px 0;
    line-height: 1.6;
    font-family: var(--Font-JDM-Subtitle);
    font-weight: var(--Weight-JDM-Subtitle);
}

.specs-list-JDM strong {
    color: var(--wolf-jdm-quaternary);
    font-family: var(--Font-JDM-Title);
    font-weight: var(--Weight-JDM-Title);
}

.btn-filter-brand-JDM {
    width: 7rem;
    border-radius: 20px;
    cursor: pointer;
}

/* --- Fin JDM --- */