:root {
    /* WOLF CORE */
    --wolf-black: #292823;
    --wolf-gray: #D7D7D7;

    /* AMERICANOS */
    --wolf-usa-primary: #B22222;
    --wolf-usa-secondary: #121212;
    --wolf-usa-tertiary: #C0C0C0;
    --wolf-usa-quaternary: #F5F5F5;

    /* JAPONESES */
    --wolf-jdm-primary: #2D3436;
    --wolf-jdm-secondary: #DFE6E9;
    --wolf-jdm-tertiary: #FFFFFF;
    --wolf-jdm-quaternary: #D3B037;

    /* EUROPEOS */
    --wolf-eu-primary: #1E272E;
    --wolf-eu-secondary: #0984E3;
    --wolf-eu-tertiary: #F5F6FA;
    --wolf-eu-quaternary: #00CEC9;
}

/* New Hub Home */

body {
    background-color: var(--wolf-black);
}

.container-main {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.Header-Hub {
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 960px;
    background-color: var(--wolf-gray);
    border-radius: 10px;
    gap: 1rem;
    animation: fadeInSlide 1.5s ease-out forwards;
}

.Div-Text-Header {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--wolf-black);
    display: flex;
    align-items: center;
    margin-top: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Nav-Button-Login {
    display: flex;
    gap: 0.5rem;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--wolf-gray);
    position: absolute;
    bottom: 3vh;
    width: 4rem;
    justify-content: center;
}

.IMG-Main {
    width: 1750px;
    height: 957px;
    border-radius: 10px;
    animation: fadeInSlide 1.5s ease-out forwards;
}

.Bienvenida-Container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    top: 7rem;
    left: 27rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px var(--wolf-gray);
}

.Bienvenida-Text {
    color: var(--wolf-gray);
    font-weight: 700;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container-buttons button {
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 7rem;
    background-color: transparent;
}

.container-buttons button:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

/*              */
/*     JDM         */

.Header-JDM {
    transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out;
    z-index: 2;
    /* Mantenerla arriba al principio */
}

/* Clase que aplicaremos con JavaScript para activar el despegue */
.Header-JDM.subir {
    transform: translateY(-100vh);
    /* Se desplaza hacia arriba el alto de la pantalla */
    opacity: 0;
    pointer-events: none;
    /* Para que no interfiera con los clicks abajo */
}


.Container-Header-JDM {
    position: absolute;
    z-index: 2;
}

.Button-Nav1:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.Button-Nav2:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.Button-Start-JDM:hover {
    background-color: var(--wolf-gray);
    color: var(--wolf-black);
    box-shadow: 0 0 15px var(--wolf-gray);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
    transition: box-shadow 0.7s ease;
}

.Button-Nav1 {
    position: absolute;
    left: 39rem;
    top: 1.5rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
}

.Button-Nav2 {
    position: absolute;
    left: 72rem;
    top: 1.5rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 9rem;
    background-color: transparent;
}

.Button-Start-JDM {
    position: absolute;
    left: 57rem;
    top: 25.5rem;
    border-radius: 100px;
    width: 7rem;
    height: 7rem;
    color: var(--wolf-gray);
    border: 1px solid var(--wolf-gray);
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
}



.IMG-Container-JDM {
    width: 1885px;
    height: 957px;
    border-radius: 10px;
    animation: fadeInSlide 1.5s ease-out forwards;
}

.Container-Text-JDM {
    position: absolute;
    z-index: 1000;
    top: 5rem;
    left: 26rem;
}

.Container-Text-JDM h1 {
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.7)
}

.Main-JDM {
    background-color: #FFCC00;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out 0.3s, transform 0.8s ease-in-out 0.3s;
}

.Main-JDM.visible {
    opacity: 1;
    transform: translateY(0);
}



/*                 */

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-USA {
    animation: fadeInSlide 1.5s ease-out forwards;
}

@keyframes slideFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-EURO {
    animation: slideFromRight 1.5s ease-out forwards;
}

@keyframes slideFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-JDM {
    animation: slideFromBottom 1.5s ease-out forwards;
}

.Div-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-weight: bold;
    color: var(--wolf-gray);
}

.Subtitle {
    font-size: 1.2rem;
    color: var(--wolf-gray);
    text-align: center;
}

.Subtitle2 {
    font-size: 1.2rem;
    color: var(--wolf-gray);
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.card {
    background-color: var(--wolf-gray);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.img-card {
    width: 400px;
    height: 550px;
    border-radius: 20px;
}

.usa:hover {
    background-image: linear-gradient(90deg, #B22234, #FFFFFF, #0a3f90);
    color: var(--wolf-usa-quaternary);
    transition: color 0.7s ease;
    transition: background-image 1s ease;
    transition: transform 1s ease;
    transform: scale(1.05);
}

.jdm:hover {
    background-image: linear-gradient(90deg, #FFFFFF, #B0313F, #FFFFFF);
    color: var(--wolf-usa-quaternary);
    transition: color 0.7s ease;
    transition: background-image 1s ease;
    transition: transform 1s ease;
    transform: scale(1.05);
}

.eu:hover {
    background-image: linear-gradient(90deg, #003399, #FFCC00, #003399);
    color: var(--wolf-usa-quaternary);
    transition: color 0.7s ease;
    transition: background-image 1s ease;
    transition: transform 1s ease;
    transform: scale(1.05);
}

.img-principal {
    width: 975px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--wolf-usa-accent);
}

.Text-Bienvenida {
    display: flex;
    flex-direction: column;
}

.container-cars {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    background-color: var(--wolf-usa-secondary);
    border-radius: 10px;
    margin-top: 5vh;
}

.container-cars-filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.container-cars-filters button {
    background-color: var(--wolf-usa-quaternary);
    color: var(--wolf-usa-secondary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.container-cars-filters button:hover {
    background-color: var(--wolf-usa-primary);
    color: var(--wolf-usa-secondary);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.container-cars-filters-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2vh;
}

.container-cars-filters-buttons a {
    color: var(--wolf-black);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.container-cars-filters-buttons a:hover {
    color: var(--wolf-usa-primary);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.container-cars-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7vh;
    padding: 2vh;
    scrollbar-color: var(--wolf-black) var(--wolf-gray);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.container-cars-cards::-webkit-scrollbar {
    width: 8px;
}

.container-cars-cards::-webkit-scrollbar-track {
    background: var(--wolf-gray);
    border-radius: 50px;
}

.container-cars-cards::-webkit-scrollbar-thumb {
    background: var(--wolf-usa-primary);
    border-radius: 10px;
}

.card-auto-premium {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-auto-premium:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.img-card-auto {
    width: 300px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--wolf-usa-accent);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 1s ease-out;
}

.modal-content {
    background-color: var(--wolf-black);
    width: 90%;
    max-width: 1000px;
    max-height: 85vh;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8),
        0px 0px 15px var(--wolf-gray);
    padding: 40px;
    position: relative;
    animation: scaleUp 0.3s ease-out;
}

.modal-specs {
    display: contents;
}

.modal-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.modal-image-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 2vh;
}

.modal-image-container img {
    width: 60%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.5s;
}

.modal-image-container img:hover {
    transform: scale(1.05);
}

.info-car {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 10px;
    color: var(--wolf-black);
}

.wolf-title {
    font-size: 2.5rem;
    color: var(--wolf-usa-quaternary);
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.wolf-price {
    font-size: 1.8rem;
    color: var(--wolf-gray);
    font-weight: bold;
    margin-bottom: 10px;
}

.specs-list {
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
    column-gap: 10vh;
}

.spec-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.spec-label {
    color: var(--wolf-gray);
    font-weight: 600;
}

.spec-value {
    color: var(--wolf-usa-quaternary);
    font-weight: 600;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 2.5rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    transition: color 0.3s;
}

;

.close-btn:hover {
    color: var(--wolf-usa-primary);
}

/* --- ANIMACIONES --- */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.btn-ver-detalles {
    color: var(--wolf-black);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-ver-detalles:hover {
    background-color: var(--wolf-black);
    color: var(--wolf-gray);
    transition: color 0.7s ease;
    transition: background-color 0.7s ease;
}

.Body-USA {
    background-color: var(--wolf-usa-secondary);
    width: 99%;
    height: 99%;
    border-radius: 20px;
    margin: auto;
}

.header-USA {
    display: flex;
    background-color: var(--wolf-usa-primary);
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-top: 4px solid var(--wolf-usa-quaternary);
    animation: slideFromBottom 1s ease-out;
}

.header-USA-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vh;
}

.Title-Header-USA {
    color: var(--wolf-usa-quaternary);
    font-size: 2.5rem;
}

.header-USA-content-buttons {
    display: flex;
    gap: 1vh;
}

.header-USA-content-buttons button {
    background-color: var(--wolf-usa-secondary);
    color: var(--wolf-usa-quaternary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.header-USA-content-buttons button:hover {
    box-shadow: 0 0 20px var(--wolf-usa-quaternary);
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.Bienvenida-USA {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 3vh;
}

.Title-Container-Car-USA {
    color: var(--wolf-usa-primary);
    font-size: 2.5rem;
}

.Parraf-Container-Car-USA {
    color: var(--wolf-usa-quaternary);
}

.History-Car-USA {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
    background-color: var(--wolf-usa-tertiary);
    border-radius: 20px;
}

.Div-History-Text-USA {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--wolf-usa-primary);
    padding: 2vh;
}

.Text-History-USA {
    color: var(--wolf-usa-secondary);
    font-size: 1.2rem;
}

.Div-USA {
    display: flex;
    gap: 2vh;
    padding: 2vh;
}

.Div-History-IMG-USA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.Div-History-IMG-USA img {
    width: 20%;
    height: auto;
    border-radius: 20px;
}

.Divisor-History-USA {
    width: 5px;
    height: 250px;
    background-color: var(--wolf-usa-primary);
    border-radius: 20px;
}

.container-cars-USA {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    background-color: var(--wolf-usa-tertiary);
    border-radius: 10px;
    margin: 3vh;
}

.container-cars-filters-USA {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.div-container-cars-USA {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
}

.container-cars-filters-USA button {
    background-color: var(--wolf-usa-primary);
    color: var(--wolf-usa-tertiary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.container-cars-filters-USA button:hover {
    border-bottom: 5px solid var(--wolf-usa-quaternary);
    color: var(--wolf-usa-quaternary);
    transition: all 0.7s ease;
}

.Divisor-USA {
    width: 7px;
    height: 550px;
    background-color: var(--wolf-usa-primary);
    border-radius: 20px;
    border: 2px solid var(--wolf-usa-quaternary);
}

.Footer-USA {
    background-color: var(--wolf-usa-primary);
    border-bottom: 4px solid var(--wolf-usa-quaternary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.text-Footer-USA {
    color: var(--wolf-usa-tertiary);
}

.text-Footer-USA em {
    color: var(--wolf-usa-quaternary);
}

.Text-Footer-USA {
    color: var(--wolf-usa-tertiary);
}

.Footer-Content-USA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Divisor-Footer-USA {
    width: 5px;
    height: 75px;
    background-color: var(--wolf-usa-secondary);
    border-radius: 20px;
}

.Body-JDM {
    background-color: var(--wolf-jdm-secondary);
    width: 99%;
    height: 99%;
    border-radius: 20px;
    margin: auto;
}

.header-JDM {
    display: flex;
    background-color: var(--wolf-jdm-primary);
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-top: 4px solid var(--wolf-jdm-quaternary);
    animation: slideFromBottom 1s ease-out;
}

.header-JDM-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vh;
}

.Title-Header-JDM {
    color: var(--wolf-jdm-quaternary);
    font-size: 2.5rem;
}

.header-JDM-content-buttons {
    display: flex;
    gap: 1vh;
}

.header-JDM-content-buttons button {
    background-color: var(--wolf-jdm-secondary);
    color: var(--wolf-jdm-primary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.header-JDM-content-buttons button:hover {
    box-shadow: 0 0 20px var(--wolf-jdm-quaternary);
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.Bienvenida-JDM {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 3vh;
}

.Title-Container-Car-JDM {
    color: var(--wolf-jdm-quaternary);
    font-size: 2.5rem;
}

.Parraf-Container-Car-JDM {
    color: var(--wolf-jdm-primary);
}

.History-Car-JDM {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
    background-color: var(--wolf-jdm-tertiary);
    border-radius: 20px;
}

.Div-History-Text-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--wolf-jdm-quaternary);
    padding: 2vh;
}

.Text-History-JDM {
    color: var(--wolf-jdm-primary);
    font-size: 1.2rem;
}

.Div-JDM {
    display: flex;
    gap: 2vh;
    padding: 2vh;
}

.Div-History-IMG-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.Div-History-IMG-JDM img {
    width: 20%;
    height: auto;
    border-radius: 20px;
}

.Divisor-History-JDM {
    width: 5px;
    height: 250px;
    background-color: var(--wolf-jdm-primary);
    border-radius: 20px;
}

.container-cars-JDM {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    background-color: var(--wolf-jdm-tertiary);
    border-radius: 10px;
    margin: 3vh;
}

.container-cars-filters-JDM {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.div-container-cars-JDM {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
}

.container-cars-filters-JDM button {
    background-color: var(--wolf-jdm-primary);
    color: var(--wolf-jdm-secondary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.container-cars-filters-JDM button:hover {
    border-bottom: 5px solid var(--wolf-jdm-quaternary);
    color: var(--wolf-jdm-quaternary);
    transition: all 0.7s ease;
}

.Divisor-JDM {
    width: 7px;
    height: 550px;
    background-color: var(--wolf-jdm-primary);
    border-radius: 20px;
    border: 2px solid var(--wolf-jdm-quaternary);
}

.Footer-JDM {
    background-color: var(--wolf-jdm-primary);
    border-bottom: 4px solid var(--wolf-jdm-quaternary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.text-Footer-JDM {
    color: var(--wolf-jdm-tertiary);
}

.text-Footer-JDM em {
    color: var(--wolf-jdm-quaternary);
}

.Text-Footer-JDM {
    color: var(--wolf-jdm-tertiary);
}

.Footer-Content-JDM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Divisor-Footer-JDM {
    width: 5px;
    height: 75px;
    background-color: var(--wolf-jdm-secondary);
    border-radius: 20px;
}

.Body-EURO {
    background-color: var(--wolf-eu-primary);
    width: 99%;
    height: 99%;
    border-radius: 20px;
    margin: auto;
}

.header-EURO {
    display: flex;
    background-color: var(--wolf-eu-secondary);
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-top: 4px solid var(--wolf-eu-quaternary);
    animation: slideFromBottom 1s ease-out;
}

.header-EURO-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2vh;
}

.Title-Header-EURO {
    color: var(--wolf-eu-tertiary);
    font-size: 2.5rem;
}

.header-EURO-content-buttons {
    display: flex;
    gap: 1vh;
}

.header-EURO-content-buttons button {
    background-color: var(--wolf-eu-primary);
    color: var(--wolf-eu-tertiary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.header-EURO-content-buttons button:hover {
    box-shadow: 0 0 20px var(--wolf-eu-quaternary);
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.Bienvenida-EURO {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 3vh;
}

.Title-Container-Car-EURO {
    color: var(--wolf-eu-quaternary);
    font-size: 2.5rem;
}

.Parraf-Container-Car-EURO {
    color: var(--wolf-eu-tertiary);
}

.History-Car-EURO {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
    background-color: var(--wolf-eu-tertiary);
    border-radius: 20px;
}

.Div-History-Text-EURO {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--wolf-eu-quaternary);
    padding: 2vh;
}

.Text-History-EURO {
    color: var(--wolf-eu-primary);
    font-size: 1.2rem;
}

.Div-EURO {
    display: flex;
    gap: 2vh;
    padding: 2vh;
}

.Div-History-IMG-EURO {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.Div-History-IMG-EURO img {
    width: 20%;
    height: auto;
    border-radius: 20px;
}

.Divisor-History-EURO {
    width: 5px;
    height: 250px;
    background-color: var(--wolf-eu-primary);
    border-radius: 20px;
}

.container-cars-EURO {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    background-color: var(--wolf-eu-tertiary);
    border-radius: 10px;
    margin: 3vh;
}

.container-cars-filters-EURO {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.div-container-cars-EURO {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 3vh;
}

.container-cars-filters-EURO button {
    background-color: var(--wolf-eu-primary);
    color: var(--wolf-eu-tertiary);
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

.container-cars-filters-EURO button:hover {
    border-bottom: 5px solid var(--wolf-eu-quaternary);
    color: var(--wolf-eu-quaternary);
    transition: all 0.7s ease;
}

.Divisor-EURO {
    width: 7px;
    height: 550px;
    background-color: var(--wolf-eu-primary);
    border-radius: 20px;
    border: 2px solid var(--wolf-eu-quaternary);
}

.Footer-EURO {
    background-color: var(--wolf-eu-primary);
    border-bottom: 4px solid var(--wolf-eu-quaternary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.text-Footer-EURO {
    color: var(--wolf-eu-tertiary);
}

.text-Footer-EURO em {
    color: var(--wolf-eu-quaternary);
}

.Text-Footer-EURO {
    color: var(--wolf-eu-tertiary);
}

.Footer-Content-EURO {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Divisor-Footer-EURO {
    width: 5px;
    height: 75px;
    background-color: var(--wolf-eu-secondary);
    border-radius: 20px;
}